Makefile
.deps
.libs
*.o
*.lo
*.la
*.mp4
*.png
*.cache
/CImg.h
/config.h
/config.log
/config.status
/examples/test_image
/examples/test_mhimagehash
/examples/test_texthash
/examples/test_texthash2
/examples/test_video
/libtool
/pHash.pc
/stamp-h1
/stamp-h2
/pHash-config.h